/* Basic styling for the body */
body {
    
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Ensure the body takes full height */
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

.grid-con{
    display: grid;
    grid-template-columns: 260px 1fr 0;
    align-items: start;
    justify-content: center;
    margin-top: 80px;
}


/* FAQ Section styling */
.FAQ-section {
    border: 2px solid #f6a425; 
    text-align: center; 
    padding: 10px; 
    margin: 20px auto; 
    width: 80%; 
    box-sizing: border-box; 
    flex-grow: 1; /* Allows this section to grow and fill the available space */
    padding-bottom: 60px; /* Add padding to prevent overlap with footer */
}

.FAQ-section h2 {
    margin: 0; 
    color: #f6a425; 
}

.About-FAQ h4 {
    color: #f6a425; 
}

.About-FAQ {
    text-align: left; 
    margin: 10px 0 0 0; 
    padding: 10px;
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
    .search-bar input {
        width: 100%;
    }
}