/* Basic styling for the navbar */
body {
    margin: 0;
    padding: 0;
    background: #f8f8f3;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 80px;
}

.center{
    display: grid;
    grid-template-columns: 260px 1fr 280px;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.container h1{
    color: #f6a425;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

main .center .container{
    max-width: 800px;
    width: 100%;
    height: 700px;
    overflow: auto;
    padding-top: 40px;
}

.content{
    background-color: white;
    box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.51);
-webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.51);
-moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.51);
border-radius: 8px;
padding: 30px;
margin-bottom: 60px;
}

.content .post-details{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 20px;
    gap: 20px;
}

.content .post-details .left{
    position: relative;
    display: flex;
    align-items: start;
    gap: 12px;
    cursor: pointer;
}

.content .post-details .left .name{
    font-weight: 600;
}

.content .post-details .left .name span{
    color: #f6a425;
    font-weight: 500;
}

.content .post-details .left i{
    font-size: 40px;
    font-weight: 300;
    color: #3c3c3c;
}

.content .post-details .left .date{
    font-weight: 300;
    font-size: 14px;
}

.content .post-details .right{
    padding: 8px 35px;
    background-color: #f6a425;
    color: white;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
}

.content .img-con{
    height: 400px;
}

.content .img-con img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.content .post-description{
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 25px;
}

.content .others-con{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.content .others-con .likes{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(224, 224, 224, 0.2);
    border-radius: 50px;
    font-size: 14px;
    padding: 0 10px;
    color: rgb(52, 52, 52);
    border: 1px solid rgba(52, 52, 52, 0.5);
}

.content .others-con .likes i{
    font-size: 20px;
    padding: 0 6px;
    color: #f6a425;
}

.content .others-con .likes div{
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-right: 1px solid rgb(52, 52, 52);
    font-weight: 300;
    font-size: 13px;
}
.content .others-con .likes .fa-up-long{
    padding-right: 0;
}


@media (min-width: 1600px) {
    main .center .container{
        padding-top: 100px;
    }
}

.input-comment
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.input-comment input
{
    width: 100%;
    padding: 10px;
    border: 1px solid #f6a425;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 300;
}

.input-comment button
{
    padding: 10px 20px;
    background-color: #f6a425;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.input-comment button:hover
{
    background-color: #f6b655;
}

.comment-div{
    max-height: 500px;
    overflow: auto;
}

.comments-con{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comments-con .right{
    flex: 1;
    background-color:rgba(246, 182, 85, 0.1);
    padding: 10px 12px;
    border-radius: 8px;
}

.comments-con .right-details{
    color: rgb(55, 55,55);
    border-bottom: 1px solid rgba(55, 55, 55, 0.3);
}
.comments .comment-text{
    font-size: 14px;
    font-weight: 300;
}

.modify-comment{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
}

.hover{
    display: none;
    position: absolute;
    background-color: #faedda;
    z-index: 100;
    top: -80px;
    right: -140px;
    border-radius: 6px;
    padding: 12px;
    gap: 10px;
}

.hover .profile-img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    overflow: hidden;
}

.hover .profile-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hover .name-details, .hover .job{
    display: flex;
    font-size: 14px;
    gap: 6px;
}

.hover .name-details span, .hover .job span{
    font-weight: 600;
    color:rgb(55, 55,55);
}

.hover .view-btn
{
    padding: 6px 20px;
    background-color: #f6a425;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    margin-top: 12px;
}

.left:hover .hover{
    display: flex;
    align-items: center;
}


.dot-div{
    position: relative;
}

.dot-div .dropdown-menu{
    display: none;
    position: absolute;
    background-color: #faedda;
    color: rgb(55, 55,55);
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 15px;
    top: -75px;
    right: 10px;
    z-index: 100;
    text-align: start;
}

.dropdown-menu li{
    border-bottom: 1px solid transparent;
}

.dot-div .dropdown-menu li:hover
{
    border-bottom: 1px solid rgba(55, 55, 55, 0.3);
    cursor: pointer;
}

.btn-publish .publish
{
    margin-top: 20px;
    padding: 10px 32px;
    background-color: #f6a425;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.btn-publish .publish:hover{
    background-color: #f6b655;
}

.follow-btn, .edit-profile{
    padding: 6px 32px;
    border: 2px solid #f6a425;
    color: rgb(55, 55, 55);
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.follow-btn:hover{
    background-color: #f6a425;
    color: white;
}

.name .full-name, .name .job{
    font-weight: 500;
    font-size: 17px;
    color: rgb(55, 55, 55);
}

.name .job{
    color: #f6a425;
}

