.spaces-con {
    position: relative;
    height: 100vh;
    left: 0;
    background-color: white;
    border-right: 1px solid rgba(54, 54, 54. 0.5);
    padding: 30px 20px;
    overflow: auto;
}

.spaces-con .closebtn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #f6a425;
    cursor: pointer;
}


.spaces-con .joined-spaces .title{
    font-size: 15px;
    font-weight: 500;
    color: #f6a425;
}

.spaces-con .joined-spaces .joined-details{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 12px;
    cursor: pointer;
}

.spaces-con .joined-spaces .name{
    font-size: 14px;
    white-space: nowrap;      /* Prevents the text from wrapping onto a new line */
  overflow: hidden;         /* Hides any overflowing content */
  text-overflow: ellipsis;  /* Adds "..." at the end of the overflowed text */
  width: 200px;             /* Set a fixed width as per your layout */
}

.spaces-con .joined-spaces .joined-details .img-con{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    overflow: hidden;
}

.spaces-con .joined-spaces .joined-details .img-con img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.recommended-spaces{
    margin-top: 30px;
}


.created-spaces{
    margin-top: 30px;
}

.container-search{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.container-search .img-con{
    height: 70px;
    width: 70px;
    border-radius: 100%;
    overflow: hidden;
}

.container-search .img-con img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.btn-view button{
    padding: 8px 20px;
    background-color: #f6a425;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}

.btn-view button:hover{
    background-color: #e39e35;
}

.cont-search{
    margin-top: 20px;
    background: #faf2e3;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name .space_name{
    font-size: 28px;
    font-weight: 500;
    color: #f6a425;
}

.name .space_owner{
    font-size: 14px;
    color: rgb(55, 55, 55);
}